# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
local_settings.py
instance/
.mypy_cache/
.pytest_cache/
.coverage

# Django migrations (optional — include if you don’t want to commit initial migrations)
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py  # Keep the __init__.py

# VSCode (optional)
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Env files
.env
*.env

# PostgreSQL dumps
*.dump
*.sql
